@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursive {
  font-family: 'Montserrat', sans-serif;
}

.regular {
  font-family: 'Poppins', sans-serif;
}


.header-btn {
  min-width: 100px;
}

/* Styled table */
.styled-table {
  /* border-collapse: collapse; */
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  min-width: 400px;
}

.styled-table thead tr {
  background-color: #065f46;
  color: #ffffff;
  text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #065f46;
}


.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Styled table end */


/* Styled table edit */



/* Styled table edit end */

.text-width {
  width: 120px;
}

.other-width {
  width: 50px;
}


@media only screen and (max-width: 640px) {
  .styled-table {
    margin: 15px 0;
    font-size: .75em;
    font-family: 'Poppins', sans-serif;
    min-width: 100px;
  }
  
  .styled-table thead tr {
    background-color: #065f46;
    color: #ffffff;
    text-align: left;
  }
  
  
  .styled-table th,
  .styled-table td {
      padding: 12px 5px;
  }


  .text-width {
    width: 70px;
  }
  
  .other-width {
    width: 50px;
  }
}


